body {
  background: url(https://i.pinimg.com/originals/91/9c/57/919c5719579d855d1fa9e1c128a80d64.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}
